.neu_button{
    padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    padding-left: 1.5rem;
        padding-right: 1.5rem;
    text-align: center;
    /* color: black; */
    margin: 0 15px;
    color: white;
    /* background-color: red; */
/* border-radius: 50px; */
    background: #616161;
    box-shadow: 5px 5px 10px #444444,
        -5px -5px 10px #7e7e7e;

}

.neu_button:hover{
border-radius: 0px;
    background: #616161;
    color: #FF0022;
    box-shadow: inset 5px 5px 10px #272727,
        inset -5px -5px 10px #9b9b9b;
        
}


.sign_in {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    position: absolute;
    right: 0;
    text-align: center;
    /* color: black; */
    margin: 0 15px;
    color: white;
    /* background-color: red; */
    /* border-radius: 50px; */
    background: #616161;
    box-shadow: 5px 5px 10px #444444,
        -5px -5px 10px #7e7e7e;

}

.sign_in:hover {
    border-radius: 0px;
    background: #616161;
    color: #FF0022;
    box-shadow: inset 5px 5px 10px #272727,
        inset -5px -5px 10px #9b9b9b;

}


@media (min-width: 768px) {
    .neu_button{
        color: white;
        /* left: 100px; */
            
    }
    
    
    
    	    
    }